
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HTML5サンプル</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <% @harrayCompanyInfo.each do |info| %>
    <% get_chartName(info) %>
    <div class="stock_chart">
      <div class="chart_png">
        <a href="<%= @fileName %>">
        <img class="alignnone size-full wp-image-8" src="<%= @fileName %>" alt="chart_<%= @strTickerCode %>" width="630" height="382"></a>
      </div>
      <div class="chart_article">
        <ul>
          <li><%= @name %></li>
          <li>Ticker Code:<%= @strTickerCode %></li>
            <li>終値:<%= @price %></li>
            <li><p></P></li>
            <li>高値：<%= @highPrice %></li>
            <li>安値:<%= @lowPrice %></li>
            <li>年初来高値：<%= @recentHighPrice %></li>
            <li>年初来安値：<%= @recentLowPrice %></li>

        </ul>
      </div>
    </div>
  <% end %>
</body>
</html>
